img#headerphoto,
img#footerphoto {
  overflow-clip-margin: unset;

  width: 40vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

img#headerphoto {
  height: 37.5vw;
  object-fit: cover;
  object-position: center;
  margin-right: 2vw;
}
body {
  margin: 0;
  /* background-image: url('data:image/svg+xml,<svg width="1000px" height="1000px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)matrix(1, 0, 0, -1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M6 7C6 6.44772 6.44772 6 7 6H41C41.5523 6 42 6.44772 42 7V41C42 41.5523 41.5523 42 41 42H7C6.44772 42 6 41.5523 6 41V7Z" fill="%235e93e8"></path></g></svg>');
  background-repeat: no-repeat;
  background-size: 1500px 1500px; */
  /* background: transparent; */
  /* position: relative; */

  background-color: rgba(240, 248, 255, 0.459);
  /* background-color: white; */
}
/* 
body::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -750px;
  left: 780px;

  

  z-index: -1;
  transform: rotate(78deg) scale(22.5);

  background-image: url('data:image/svg+xml,<svg width="256px" height="256px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)matrix(1, 0, 0, -1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M6 7C6 6.44772 6.44772 6 7 6H41C41.5523 6 42 6.44772 42 7V41C42 41.5523 41.5523 42 41 42H7C6.44772 42 6 41.5523 6 41V7Z" fill="%235e93e8"></path></g></svg>');
} */

header {
  /* border: 1px solid purple; */
  position: relative;
  padding-left: 4.9vw;
  padding-right: 4.9vw;
  padding-top: 4vw;
}

h1 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.7vw;
}
div#aboutme {
  /* padding-top: 0.1vw; */
  /* border: 1px solid green; */
  padding-top: 0.15px;
  font-family: "Montserrat", serif;
}
div#bio {
  /* border: 1px solid orange; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 0.02px;
  margin-top: 3.2vw;
  padding-bottom: 1.5vw;
  /* margin-left: 40vw; */
  /* padding-left: 41.5vw;*/
  padding-right: 1.1vw;
  /* background-color: rgba(255, 255, 255, 0.973); */

  /* background-color: rgb(240, 248, 255); */

  /* display: flex;
  flex-direction: column; */
}

div#bio > p {
  font-size: 1.95vw;
  margin-top: 0;
}

div#socialnetworking > img {
  height: 2.4vw;
  width: 2.4vw;
}
div#socialnetworking {
  /* border: 1px solid blueviolet; */
  display: flex;
  padding-right: 2.7vw;
  gap: 1.25vw;
  justify-content: end;
}
div#aboutme::after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 2vw;
  font-family: "Montserrat", serif;
  color: rgba(0, 0, 0, 0.822);
}

img#headerphoto {
  float: left;
}

#floatingname {
  font-family: "Cormorant Garamond", serif;
  font-size: 6.5vw;
  font-weight: 350;
  position: absolute;
  left: 7.2vw;
  top: 33.4vw;
  /* position: relative;
  bottom: 9vw;
  left: 6.4vw; */
  letter-spacing: 0.6vw;
  /* color: rgb(172, 32, 32); */
  color: brown;
}
@media (max-width: 1000px) {
  #floatingname {
    top: 3.3vw;
    left: 46.4vw;
    font-size: 8.1vw;
  }
  img#headerphoto {
    min-width: 350px;
    min-height: 325px;
    margin-right: 3vw;
    margin-bottom: 0.5vw;
  }
  div#bio > p {
    font-size: 2.922vw;
  }
  h1 {
    font-size: 5.7vw;
    margin-top: 6vw;
  }
  header {
    padding-right: 8vw;
  }

  div#socialnetworking > img {
    height: 4.4vw;
    width: 4.4vw;
  }
  div#socialnetworking {
    gap: 3vw;
  }
  div#bio {
    margin-left: 7.5vw;
    margin-top: 9.5vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }
}

@media (max-width: 550px) {
  #floatingname {
    top: 76.5vw;
    left: 14.5vw;
    font-size: 13.2vw;
    letter-spacing: 1vw;
  }

  div#aboutme {
    padding-top: 0px;
  }
  header {
    padding-right: 4.9vw;
  }
  div#bio > p {
    font-size: 5.5vw;
  }
  h1 {
    font-size: 9vw;
  }
  img#headerphoto {
    margin-left: 4.35vw;
    width: 90%;
    height: 80vw;
    margin-bottom: 4.5vw;
    margin-right: 0;
    min-width: 0px;

    min-height: 0px;
  }
  div#socialnetworking > img {
    height: 7.4vw;
    width: 7.4vw;
  }
  div#socialnetworking {
    justify-content: center;
    gap: 5vw;
  }
  div#bio {
    text-align: center;
    margin-left: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
  }
}

div#mywork {
  margin-left: 5.2vw;
  margin-bottom: 1.2vw;
  margin-top: 6vw;
  letter-spacing: 0.22vw;
  /* border: 1px solid red; */
  font-size: 4vw;
  font-family: "Libre Caslon Display", serif;
}
div#cardcontainer {
  margin: 49px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  /* border: 1px solid blue; */
}

div#card {
  display: flex;
  width: 27.8vw;
  flex-direction: column;
  font-size: 1.85vw;
  font-family: "Montserrat", serif;
  padding-bottom: 4vw;
  /*this is the original color option */
  background-color: rgba(245, 245, 245, 0.664);
  /* this is the new color option for accommodating background-image */
  /* background-color: rgba(228, 228, 205, 0.281); */

  gap: 10px;
  /* border: 1px solid brown; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div#card > img {
  cursor: pointer;
}
div#name {
  font-size: 2.95vw;
  font-family: "Rajdhani", serif;
}
div#projectname > img,
div#projectname > svg {
  width: 2.4vw;
  height: 2.4vw;
}
@media (max-width: 1000px) {
  div#mywork {
    margin-left: 6.85vw;
    font-size: 6vw;
  }
  div#card {
    width: 41vw;
    font-size: 3vw;
    padding-bottom: 6vw;
  }
  div#name {
    font-size: 4.6vw;
  }
  div#projectname > img,
  div#projectname > svg {
    width: 3.9vw;
    height: 3.9vw;
  }

  div#cardcontainer {
    gap: 4vw;
    margin: 35px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
}
div#summary {
  color: rgba(0, 0, 0, 0.822);
  /* border: 1px solid yellow; */
  padding-left: 1vw;
  padding-right: 1vw;
}
div#projectname {
  display: flex;
  /* border: 1px solid green; */
  gap: 10px;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}
@media (max-width: 550px) {
  div#mywork {
    margin-left: 7.37vw;
    margin-right: 7.37vw;
    margin-bottom: 4.7vw;

    text-align: center;
    font-size: 11vw;
  }
  div#card {
    width: 85vw;
    font-size: 5vw;
    padding-bottom: 8vw;
  }
  div#name {
    font-size: 8.4vw;
  }
  div#projectname > img,
  div#projectname > svg {
    width: 7vw;
    height: 7vw;
  }
  div#cardcontainer {
    gap: 14.3vw;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  div#projectname,
  div#summary {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
  div#projectname {
    padding-left: 5.5vw;
  }
}

div#name {
  margin-right: auto;
}

div#card > img {
  height: auto;
}

footer {
  display: flex;
  gap: 45px;
  border: 2px solid brown;
  background-color: rgba(64, 167, 145, 0.986);
  padding: 50px;
  padding-left: 70px;
  padding-right: 20px;
}

div#contactinfo {
  border: 1px solid red;
  color: white;
  font-size: 2vw;
  padding-bottom: 20px;
  padding-top: 0px;
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  width: 40vw;
}

h2 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 550;
  border: 1px solid pink;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#callinfo {
  border: 1px solid yellow;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 15px;
}
div#emailinfo {
  border: 1px solid purple;
  display: flex;
  align-items: center;
  gap: 17px;
}
div#social {
  border: 1px solid pink;
  display: flex;
  gap: 25px;
}

div#social > img {
  height: 3.3vw;
  width: 3.3vw;
  cursor: pointer;
}

div#callinfo > svg,
div#emailinfo > svg {
  height: 2.9vw;
  width: 2.9vw;
}

/* @media (max-width: 550px) {
  img#headerphoto {
    width: 90vw;
  }
  img#footerphoto {
    width: 100vw;
  }
} */
img#footerphoto {
  width: 40vw;
  height: 43.85vw;

  object-fit: cover;
  object-position: 0% 5%;
}

@media (max-width: 1000px) {
  div#contactinfo {
    font-size: 3vw;
  }
  img#footerphoto {
    width: 38vw;
    height: 70vw;
  }
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
    gap: 0px;
    padding: 0px;
  }
  img#footerphoto {
    width: 100vw;
    height: auto;
  }

  div#contactinfo {
    align-items: center;
    width: auto;
    gap: 20px;
    padding-bottom: 30px;
    font-size: 5vw;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div#social > img {
    height: 7.3vw;
    width: 7.3vw;
    cursor: pointer;
  }
  div#address {
    align-self: start;
  }
  div#callinfo {
    align-self: start;
  }
  div#emailinfo {
    align-self: start;
  }
  div#callinfo > svg,
  div#emailinfo > svg {
    height: 6vw;
    width: 6.3vw;
  }
}
