img#headerphoto,
img#footerphoto {
  width: 50vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

body {
  background-color: rgba(240, 248, 255, 0.541);
  margin: 0;
}

header {
  border: 1px solid purple;
  padding-left: 4.9vw;
  padding-right: 4.9vw;
  padding-top: 5vw;
}
h1 {
  /* margin-top: 0px;*/
  margin-bottom: 0px;
}
div#aboutme {
  padding-top: 9vw;
  border: 1px solid green;
  font-family: "Montserrat", serif;
}
div#bio {
  /* border: 1px solid orange; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* display: flex;
  flex-direction: column; */
}
div#socialnetworking > img {
  height: 2vw;
  width: 2vw;
}
div#socialnetworking {
  border: 1px solid blueviolet;
  display: flex;
  gap: 0.5vw;
  justify-content: end;
}
div#aboutme::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 550;
  border: 1px solid pink;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 2vw;
  font-family: "Montserrat", serif;
  color: rgba(0, 0, 0, 0.822);
}

img#headerphoto {
  float: left;
}
#floatingname {
  font-family: "Cormorant Garamond", serif;
  font-size: 7vw;
  font-weight: 350;
  /* position: relative;
  bottom: 9vw;
  left: 6.4vw; */
  letter-spacing: 0.6vw;
  /* color: rgb(172, 32, 32); */
  color: brown;
}
div#mywork {
  margin-left: 5.2vw;
  margin-bottom: 1.2vw;
  letter-spacing: 0.22vw;
  /* border: 1px solid red; */
  font-size: 4vw;
  font-family: "Libre Caslon Display", serif;
}
div#cardcontainer {
  margin: 49px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  /* border: 1px solid blue; */
}

div#card {
  display: flex;
  width: 27.8vw;
  flex-direction: column;
  font-size: 1.85vw;
  font-family: "Montserrat", serif;
  padding-bottom: 4vw;
  background-color: whitesmoke;

  gap: 10px;
  /* border: 1px solid brown; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div#card > img {
  cursor: pointer;
}
div#name {
  font-size: 2.95vw;
  font-family: "Rajdhani", serif;
}
div#projectname > img,
div#projectname > svg {
  width: 2.4vw;
  height: 2.4vw;
}
@media (max-width: 1000px) {
  div#mywork {
    margin-left: 6.85vw;
    font-size: 6vw;
  }
  div#card {
    width: 41vw;
    font-size: 3vw;
    padding-bottom: 6vw;
  }
  div#name {
    font-size: 4.6vw;
  }
  div#projectname > img,
  div#projectname > svg {
    width: 3.9vw;
    height: 3.9vw;
  }

  div#cardcontainer {
    gap: 4vw;
    margin: 35px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
}
div#summary {
  color: rgba(0, 0, 0, 0.822);
  /* border: 1px solid yellow; */
  padding-left: 1vw;
  padding-right: 1vw;
}
div#projectname {
  display: flex;
  /* border: 1px solid green; */
  gap: 10px;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}
@media (max-width: 550px) {
  div#mywork {
    margin-left: 7.37vw;
    margin-right: 7.37vw;
    margin-bottom: 4.7vw;

    text-align: center;
    font-size: 11vw;
  }
  div#card {
    width: 85vw;
    font-size: 5vw;
    padding-bottom: 8vw;
  }
  div#name {
    font-size: 8.4vw;
  }
  div#projectname > img,
  div#projectname > svg {
    width: 7vw;
    height: 7vw;
  }
  div#cardcontainer {
    gap: 14.3vw;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  div#projectname,
  div#summary {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
  div#projectname {
    padding-left: 5.5vw;
  }
}

div#name {
  margin-right: auto;
}

div#card > img {
  height: auto;
}

footer {
  display: flex;
  gap: 45px;
  border: 2px solid brown;
  background-color: rgba(64, 167, 145, 0.986);
  padding: 50px;
  padding-left: 70px;
  padding-right: 20px;
}

div#contactinfo {
  border: 1px solid red;
  color: white;
  font-size: 2vw;
  padding-bottom: 20px;
  padding-top: 0px;
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  width: 40vw;
}

div#callinfo {
  border: 1px solid yellow;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 15px;
}
div#emailinfo {
  border: 1px solid purple;
  display: flex;
  align-items: center;
  gap: 17px;
}
div#social {
  border: 1px solid pink;
  display: flex;
  gap: 25px;
}

div#social > img {
  height: 3.3vw;
  width: 3.3vw;
  cursor: pointer;
}

div#callinfo > svg,
div#emailinfo > svg {
  height: 2.9vw;
  width: 2.9vw;
}

/* @media (max-width: 550px) {
  img#headerphoto {
    width: 90vw;
  }
  img#footerphoto {
    width: 100vw;
  }
} */
img#footerphoto {
  width: 40vw;
  height: 43.85vw;

  object-fit: cover;
  object-position: 0% 5%;
}

@media (max-width: 1000px) {
  div#contactinfo {
    font-size: 3vw;
  }
  img#footerphoto {
    width: 38vw;
    height: 70vw;
  }
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
    gap: 0px;
    padding: 0px;
  }
  img#footerphoto {
    width: 100vw;
    height: auto;
  }

  div#contactinfo {
    align-items: center;
    width: auto;
    gap: 20px;
    padding-bottom: 30px;
    font-size: 5vw;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div#social > img {
    height: 7.3vw;
    width: 7.3vw;
    cursor: pointer;
  }
  div#address {
    align-self: start;
  }
  div#callinfo {
    align-self: start;
  }
  div#emailinfo {
    align-self: start;
  }
  div#callinfo > svg,
  div#emailinfo > svg {
    height: 6vw;
    width: 6.3vw;
  }
}
